.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.contacts h3 {
	width: 775px;
	text-align: justify;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.button {
	width: 230px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #689bf7;
	border: 3px solid #000;
	border-radius: 10px;
	font-family: inherit;
	color: #fff;
}

.button h3 {
	text-align: center;
}

.link .address {
	width: 260px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px dashed #000;
	border-radius: 10px;
}
