.borderWrapper {
	display: flex;
	border: 3px solid #000;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: #fff;
	border: 3px solid #000;
	border-radius: 50%;
	position: absolute;
}

.dotUpLeft {
	top: -6px;
	left: -6px;
}

.dotUpRight {
	top: -6px;
	right: -6px;
}

.dotBotRight {
	bottom: -6px;
	right: -6px;
}

.dotBotLeft {
	bottom: -6px;
	left: -6px;
}
