.button {
	width: 160px;
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #689bf7;
	color: #fff;
	font-family: inherit;
	border: 3px solid #000;
	border-radius: 20px;
	box-shadow: 5px 5px 0 #000;
}

/* .button:hover {
	background: #7da9fb;
} */

.active {
	background: #ffc700;
}
