.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
}

.info {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.resume {
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.avatar {
	display: flex;
	position: relative;
	user-select: none;
}

@media (max-width: 890px) or (max-height: 900px) {
	.hero {
		align-items: end;
	}
	.info {
		display: flex;
		flex-direction: column;
	}
	/* .resume {
		padding: 5px 0;
	} */
	.avatar img {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 700px) {
	.hero {
		flex-direction: column-reverse;
		gap: 14px;
	}
	.info {
		align-items: center;
	}
	.resume {
		padding: 5px 0;
	}
}
