.section__hero {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
}

.hero__info {
	display: flex;
	flex-direction: column;
}

.hero__avatar {
	display: flex;
	position: relative;
}

@media (max-width: 880px) {
	.section__hero {
		gap: 90px;
	}
	.hero__avatar img {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 700px) {
	.section__hero {
		flex-direction: column-reverse;
		gap: 14px;
	}
	.hero__info {
		align-items: center;
	}
}
